<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initialscale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   <div style="display: flex;">
      <form action='/api/encode' method='post'> 
         <textarea id="inputJson" name="inputJson" placeholder="Inpput JSON Format Here." cols=100 rows=20><%= json %></textarea>
         <input type='submit' value='Encode'> 
      </form>
      <textarea id="encodedResult" cols=100 rows=20><%= encoded %></textarea>
   </div>
   <div style="display: flex;">
      <form action='/api/decode' method='post'> 
         <textarea id="inputMsgPack" name="inputMsgPack" placeholder="Inpput MessagePack Format Here." cols=100 rows=20><%= msgppack %></textarea>
         <input type='submit' value='Decode'> 
      </form>
      <textarea id="decodedResult" cols=100 rows=20><%= decoded %></textarea>
   </div>
</body>
</html>